In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [6]:
train = pd.read_csv('./datasets/Training Data.csv')
train_target = pd.read_csv('./datasets/Training Data Target.csv')
test = pd.read_csv('./datasets/Test Data.csv')

In [9]:
train_target = train_target.drop(columns='aov')

        user_id      aov        category
0         37327  29128.0          Phones
1         37327    354.0         Fashion
2         37327    460.0      Home Decor
3         37327    761.0         Fashion
4         41260  16658.0          Phones
...         ...      ...             ...
257402    29237    689.0         Fashion
257403    15197   2195.0       Groceries
257404     2114    559.0  Back to School
257405    35741  18451.0          Phones
257406    36769  12529.0          Phones

[257407 rows x 3 columns]